.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 32px;
}

.header {
    width: 100%;
    font-weight: bold;
    font-size: 64px;
    color: var(--theme-color-header);
    text-decoration: underline;
}

.filler {
    flex-grow: 1;
}
