:root {
  --theme-color-fg-1: #ffffff;
  --theme-color-fg-2: rgba(255, 255, 255, 0.5);
  --theme-color-bg-1: #4f6781;
  --theme-color-bg-2: #ffe762;
  --theme-color-bg-3: rgba(1, 1, 1, 0.75);
  --theme-color-header: #ffe762;
  --theme-color-remove: #e53b44;
  --theme-color-failure: #fa8e95;
  /* based on https://lospec.com/palette-list/endesga-16 */
}

* {
  font-size: 28px;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

::placeholder {
  color: var(--theme-color-fg-1);
  opacity: 0.5;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(var(--theme-color-bg-1), var(--theme-color-bg-2));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--theme-color-fg-1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* loading indicator (from https://loading.io/) */

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 32px;
  }

  50%,
  100% {
    top: 16px;
    height: 16px;
  }
}
